$colors: (
  "purple": #633cff,
  "purple-hover": #beadff,
  "purple-light": #efebff,
  "dark-grey": #333333,
  "grey": #737373,
  "light-grey": #fafafa,
  "border": #d9d9d9,
  "red": #ff3939,
  "white": #ffffff,
  "very-light-grey": #eeeeee,
);

$border-radius-md: 8px;
$border-radius-xl: 12px;
$border-radius-xxl: 104px;
